<div class="top-0 right-0 mt3">
    <div>
        <h2 class="f4 mt0 mb2 border-color-0f9d58 border-bottom-style-solid border-bottom-width-2px">
            <span class="color-ffffff dib pa2 white background-color-0f9d58">Bài Viết Nổi Bật</span></h2>
        <div class="ph2 pt1 pb2 shadow-4 br3 flex flex-wrap">

            <% topArticlesADP.forEach(article =>{ %>
                    <%- include('./article.ejs', {article: article}); %>
            <% }) %>

        </div>

    </div>
</div>