.none-scrollbar > div::-webkit-scrollbar {
  display: none;
}

.slider-no-padding-container {
  top: -64px;
  padding: 50px 0 0 0;

  & > div:first-child {
    padding: 0;
    background-color: white;
    box-shadow: 1px 4px 4px -1px rgba(0, 0, 0, .1)
  }

  .amp-carousel-button-next, .amp-carousel-button-prev {
    top: 27px;
    border-radius: 50%;
  }

  .amp-carousel-button-prev {
    left: unset;
    right: 54px;
  }
  .no-padding-item {
    margin-left: 0;
  }
}

