<%- include("../../../components/master/head") -%>

<div class="bg-white pb1">
    <div class="pa2 pa3-ns mv3">
        <h1 class="f2 f1-l"><%= page._source.title %></h1>
    </div>
    <div class="ph2 ph3-ns">
        <%- page._source.content %>
    </div>
</div>
<%- include("../../../components/master/footer") -%>
