<%- include("../../../components/master/head") -%>

<h1 class="f2 f1-l"><%= heading %></h1>

<div class="pa3">
    <h1>Sứ mệnh của ifarmer.vn</h1>
    <p>Người nông dân lúc nào cũng canh cánh trong lòng về đầu ra của sản phẩm, đa số họ không thể bán hàng của mình cho
        người dùng mà phải thông qua thương lái với giá bán rất thấp. Nhưng khi đến được người tiêu dùng thì giá của sản
        phẩm sẽ bị nhân lên gấp 2, gấp 3 lần so với cái giá thật của nó, thấm thía với đều đó nên chúng tôi mới thành
        lập trang ifarmer.vn( bởi vì chúng tôi- Bến Phú An- chính là những người con của ruộng đồng, của những người
        nông dân thật thà chất phác: Bến Tre, Phú Yên, An Giang)</p>
    <p>Mục đích của chúng tôi là đưa sản phẩm trực tiếp từ tay người nông dân chân lấm tay bùn đến tận tay người tiêu
        dùng, với sứ mệnh là chiếc cầu nối vững chắc giữa cung và cầu, giữa nhà sản xuất và người tiêu thụ chứ không
        thông qua bất kỳ một kênh phân phối nào khác.</p>
    <p>Nhờ vậy, nông dân sẽ không còn lo lắng sản phẩm của mình phải bán ở đâu, bán như thế nào, có bị thương gia ép giá
        nữa không!</p>
    <p>Với hệ thống của chúng tôi, người tiêu dùng có thể tự đánh giá chất lượng sản phẩm, đánh giá người sản xuất, để
        cho những người tiêu dùng khác xem xét, lựa chọn được sản phẩm và nhà cung cấp uy tín.</p>
    <p>Bên cạnh đó, chúng tôi cung cấp dịch vụ hỗ trợ người nông dân. Họ có thể đăng sản phẩm, đưa ra quy trình trồng
        trọt, quy trình tạo ra sản phẩm, các tiêu chuẩn của sản phẩm cho khách hàng, nhằm nâng cao uy tín, giúp cho hàng
        hóa đến được với đông đảo người mua.</p>
    <p>Ngoài ra, chúng tôi cung cấp thực đơn, cách chế biến món ăn, cung cấp nguyên liệu để nấu những món ăn đó.</p>
    <p>Vì không thông qua bất kỳ kênh phân phối nào nên giá sản phẩm chia đều cho người nông dân và người tiêu dùng,
        người nông dân sẽ nâng cao chất sản phẩm mình làm ra, nâng cao chất lượng cuộc sống, người tiêu dùng giảm được
        giá thành mua thông qua lái buôn, thông qua các cửa hàng trung gian, các thực phẩm được vận chuyển nhanh chóng
        để người tiêu dùng sử dụng sản phẩm tươi sạch nhất, người sản xuất không phải lo hàng hóa tiêu thụ không kịp, hư
        úng nên sẽ không có tình trạng sử dụng chất bảo quản, ảnh hưởng đến sức khỏe người tiêu dùng.</p>
    <p>Hỗ trợ nông dân đạt các chứng chỉ để đựơc công nhận trong lẫn ngoài nước. Để sản phẩm không chỉ dừng lại ở thị
        trường trong nước, mà chúng tôi còn tham vọng đưa hàng Việt Nam đến với khách hàng quốc tế, chẳng những trong
        khu vực Đông Nam Á mà còn rộng khắp các nước phương Tây, Mỹ, Úc,…</p>
    <p> Bên cạnh đó, chúng tôi cũng có đội ngũ nhân viên tư vấn,thiết kế, xây dựng các khu nhà vườn, khu trang trại
        chuẩn và đạt hiệu quả cao nhất. </p>
    <p>Đó là những mục tiêu mà ifarmer.vn hướng tới và rất mong nhận được sự ủng hộ của Quý Khách Hàng gần xa . Xin thay
        mặt công ty để lại đây lời cảm ơn chân thành nhất!</p>
</div>

<%- include("../../../components/master/footer") -%>
