<h2 class="f3 line-height-42px font-weight-500 margin-bottom-20px">Liên Hệ Với Chúng Tôi</h2>
<div class="flex flex-wrap">
    <a
            rel="nofollow"
            data-vars-click-ga-trigger="click_view-map"
            href="https://www.google.com/maps/place/ifarmer.vn/@10.7628867,106.7855993,693m/data=!3m1!1e3!4m5!3m4!1s0x3175256dc38a72ab:0x9aba63a62267061a!8m2!3d10.7625805!4d106.787262" target="_blank" class="w-100 w-50-m w-33-l flex">
        <amp-img src="/assets/images/svg/md-pin.svg" width="40" height="35"></amp-img>
        <div class="tl lh-14 ml3">
            <div>109, đường 3, P.Cát Lái, Q2, TPHCM</div>
            <div>Nhấn vào để xem trên google map</div>
        </div>
    </a>
    <div class="w-100 w-50-m mt3 mt0-l w-33-l pl3-l flex">
        <amp-img src="/assets/images/svg/ios-call.svg" width="40" height="35"></amp-img>
        <div class="tl lh-14 ml3">
            <div>Phone: </div>
            <span class="pt2"><a href="tel:+8491-832-7819">091-832-7819</a></span>
        </div>
    </div>
    <div class="w-100 w-50-m mt3 mt0-l w-33-l pl3-l flex">
        <amp-img src="/assets/images/svg/ios-mail.svg" width="40" height="35"></amp-img>
        <div class="tl lh-14 ml3">
            <div>Email: </div>
            <span class="pt2">benphuan@gmail.com</span>
        </div>
    </div>
</div>