<h2 class="font-size-31px line-height-42px font-weight-500 margin-bottom-20px">Contact us</h2>
<div class="flex flex-wrap">
    <div class="w-100 w-50-m w-33-l flex">
        <amp-img src="/assets/images/svg/md-pin.svg" width="40" height="35"></amp-img>
        <div class="tl lh-14 ml3">
            <div>109, đường 3, P.Cát Lái, Q2, TPHCM</div>
        </div>
    </div>
    <div class="w-100 w-50-m mt3 mt0-l w-33-l pl3-l flex">
        <amp-img src="/assets/images/svg/ios-call.svg" width="40" height="35"></amp-img>
        <div class="tl lh-14 ml3">
            <div>Phone: </div>
            <span class="pt2"><a href="tel:091-832-7819">091-832-7819</a></span>
        </div>
    </div>
    <div class="w-100 w-50-m mt3 mt0-l w-33-l pl3-l flex">
        <amp-img src="/assets/images/svg/ios-mail.svg" width="40" height="35"></amp-img>
        <div class="tl lh-14 ml3">
            <div>Email: </div>
            <span class="pt2">benphuan@gmail.com</span>
        </div>
    </div>
</div>