<h3 class="line-height-20px  pv3">Customer Service</h3>
<div>
    <a class="db lh-30" href="">Contact</a>
    <a class="db lh-30" href="">Our service</a>
    <a class="db lh-30" href="">Site map</a>
</div>