<h3 class="line-height-20px  pv3">Thông Tin</h3>
<div class="">
    <a class="db lh-30" href="">Chính Sách Bảo Mật</a>
    <a class="db lh-30" href="">Hướng Dẫn Mua Hàng</a>
    <a class="db lh-30" href="">Vận Chuyển</a>
    <a class="db lh-30" href="">Điều Khoản</a>
</div>