<h3 class="line-height-20px  pv3">Information</h3>
<div class="">
    <a class="db lh-30" href="">About us</a>
    <a class="db lh-30" href="">Delivery Information</a>
    <a class="db lh-30" href="">Privacy policy</a>
    <a class="db lh-30" href="">Terms & Condition</a>
</div>