<h3 class="line-height-20px  pv3">Thông Tin</h3>
<div class="">
    <a class="db lh-30" href="/chinh-sach-quyen-rieng-tu/">Chính Sách Bảo Mật</a>
    <a class="db lh-30" href="">Hướng Dẫn Mua Hàng</a>
</div>