<div class="bg-white box-shadow-0-5px-4px-0-rgba0-0-0-01 flex flex-wrap pa2 ph3-ns">
    <div class="w-100 mb3">
        <%- include("contact-us.ejs") -%>
    </div>
    <div class="w-100 w-50-ns ttu">
        <%- include("information.ejs") -%>
    </div>
    <div class="w-100 w-50-ns ttu">
        <%- include("customer-service.ejs") -%>
    </div>
    <div class="w-100">
        <p class="copyright-text">© 2018 <a href="/">ifarmer.vn</a>. All Rights Reserved</p>
    </div>

</div>