<div class="mt3 bg-white box-shadow-0-5px-4px-0-rgba0-0-0-01 flex flex-wrap pa2 ph3-ns">
    <div class="w-100 mb3">
        <%- include("contact-us.ejs") -%>
    </div>

    <div class="w-100 pa2 border-top-2px-solid-e0e0e0"></div>

    <div class="w-100 w-50-ns ttu">
        <%- include("information.ejs") -%>
    </div>
    <div class="w-100 w-50-ns ttu">
        <%- include("customer-service.ejs") -%>
    </div>

    <div class="w-100 mt2 pa2 border-top-2px-solid-e0e0e0"></div>

    <div class="w-100">
        <p>
            Tài khoản : 0071000674734,Vietcombank, PGD Quang Trung, Huỳnh Trúc Mai
        </p>
        <p>
            Tài khoản : 6280205399880, Agribank Đông Sài Gòn, Huỳnh Trúc Mai
        </p>
        <p class="copyright-text">© 2020 <a href="/">ifarmer.vn</a>.Tất cả các quyền được bảo lưu</p>
    </div>

    <a class="fixed bg-green bottom-5rem left-20 b br4 pa3 color-ffffff" style="left:20px;position: fixed;background-color: #80bb01;bottom: 5rem;border-radius: 1rem;" href="/trang/tag/san-pham-mua-dich/">
        SẢN PHẨM MÙA DỊCH
    </a>

</div>
