<div>
    <h3 class="font-size-25px line-height-43px color-222222 font-weight-500 margin-bottom-35px" >Thông tin giao hàng</h3>
    <div >
        <div class="margin-bottom-20px">
            <label class="display-block font-size-15px line-height-29px
            font-weight-400 color-888888 margin-bottom-0">
                Tên Của Bạn<span>*</span>
            </label>
            <input
                   class="background-color-ffffff width-100-percent height-50px line-height-50px outline-none border-1px-solid-e0e0e0 padding-left-20px"  type="text" name="customerName" required="">
        </div>
        <div class="margin-bottom-20px">
            <label class="display-block font-size-15px line-height-29px font-weight-400 color-888888 margin-bottom-0">
                Email Của Bạn
            </label>
            <input
                   class="background-color-ffffff width-100-percent height-50px line-height-50px outline-none border-1px-solid-e0e0e0 padding-left-20px" type="email" name="customerEmail">
        </div>
    <div class="margin-bottom-20px">
            <label class="display-block font-size-15px line-height-29px font-weight-400 color-888888 margin-bottom-0">
                Số điện thoại<span>*</span>
            </label>
            <input
                   class="background-color-ffffff width-100-percent height-50px line-height-50px outline-none border-1px-solid-e0e0e0 padding-left-20px"  name="customerPhone" required="">
        </div>
        </div>
        <div class="margin-bottom-20px">
            <label class="display-block font-size-15px line-height-29px font-weight-400 color-888888 margin-bottom-0">
                Địa chỉ nhận hàng<span>*</span>
            </label>
            <textarea class="background-color-ffffff width-100-percent outline-none border-1px-solid-e0e0e0 padding-left-20px line-height-50px height-200px overflow-auto resize-vertical" name="contactAddress"></textarea>
        </div>
    </div>
</div>