<a class="db link" href="/bai-viet/<%= article._source.url %>/"
   data-vars-click-ga-trigger="click_more_articles_item"
   data-vars-label="name:articles:<%= article._source.url %>">
    <div class="pv3 overflow-hidden blue"><%= article._source.title %></div>
</a>
