<div class="background-color-e9e9e9">
    <div class="pa2 flex flex-column flex-row-l">
        <div class="w-70-l">
            <% relatedArticles.articles.map(article =>{ %>
                <%- include("./article.ejs", { article:article }) -%>
            <% }) %>
        </div>
        <% if(relatedArticles.shortenArticles) { %>
            <div class="w-30-l pa2 f5">
                <div class="b">Đọc thêm</div>
                <% relatedArticles.shortenArticles.map(article =>{ %>
                    <%- include("./shorten-articles.ejs", { article:article }) -%>
                <% }) %>
            </div>
        <% } %>
    </div>
</div>
