<article class="pa2 i-amphtml-accordion-content" id="21_AMP_content_1"><p>Hình ảnh của Trái Lêkima:</p>
    <amp-img width="16" height="9" layout="responsive"
             src="https://firebasestorage.googleapis.com/v0/b/ifarmer-e25f1.appspot.com/o/img%2Ftrai-lekima%2Ftrai-lekima.jpg?alt=media&amp;token=6008e893-c74b-4bf0-be37-c1de0495202e">
        >
    </amp-img>
    <p>Lêkima (từ tên khoa học: Pouteria lucuma) hay quả trứng gà là tên gọi một loại cây ăn quả có nguồn gốc từ vùng
        núi Andes ở Nam Mỹ. Sở dĩ Lêkima được gọi là quả trứng gà vì khi chín quả có màu sắc và hương vị giống lòng đỏ
        trứng gà khi đã luộc chín. Tên gọi quả trứng gà tương tự cách gọi bằng tiếng Anh: eggfruit, tuy nhiên trên thực
        tế từ eggfruit trong tiếng Anh dùng để chỉ chung các loại quả thuộc chi Pouteria, còn loài P. lucuma (quả lêkima
        hay quả trứng gà của Việt Nam) thì được gọi là lucuma.Trái lêkima</p>
    <p>khi ăn vào có vị bùi bùi như lòng đỏ trứng gà ngọt,từ từ sẽ cảm thấy đắng khi ăn quá lâu.Điều đặc biệt hơn nữa
        loại quả này không bao giờ có sâu</p>
    <h3>Giá trị dinh dưỡng|</h3>
    <p>Có hàm lượng cao vitamin B3, beta-caroiten, sắt và chất xơ, tăng hồng cầu. giảm cholesterol và triglecirid, tăng
        lực tốt,v.v... là những thành phần chống ô xy hóa cực mạnh cho da và cần thiết cho hoạt động của cơ thể. Lê ki
        ma còn giúp tăng tỷ lệ hồng cầu trong máu, kích thích hoạt động của hệ thần kinh, chống trầm cảm, giảm
        cholesterol và triglecirid trong máu, ngăn ngừa các bệnh tim mạch và béo phì, hạn chế các cơn nhồi máu cơ tim,
        tăng hiệu quả của hệ miễn nhiễm và tăng lực rất tốt.</p>
</article>