@import "../../../../../components/carousels/carousel";
@import "../../../../../components/carousels/slider-container";

.single-item {
  &:first-child {
    margin-left: 2rem;
  }
  &:last-child{
    margin-right: 2rem;
  }
}

.b-bold-1{
  &:hover {
    border-color: $theme-color;
  }
}
