<div class="margin-bottom--62px">
    <h2 class="z-2 header-wrap relative b pa-heading-panel dib b-top-right-radius-5 bg-theme-color white lh-douple">
        Danh Mục Nổi Bật</h2>
    <amp-carousel
            height="260"
            layout="fixed-height"
            type="carousel"
            class="none-scrollbar slider-container z-1"
            controls
    >
            <% categories.forEach(category =>{ %>
                <% include category category  %>
            <% }) %>
    </amp-carousel>
</div>

