<%- include("../../../components/master/head") -%>

<div class="mt3 bg-white pa2 flex-l flex-wrap-l">

    <div class="pr3-l w-30-l">
        <%- include("./components/info") -%>
    </div>
    <div class="w-70-l">
        <%- include("./components/form") -%>
    </div>

</div>

<%- include("../../../components/master/footer") -%>
