<div>
    <% if(articleDetail._source.transformedImages[0]){ %>
        <amp-img width="16" height="9" layout="responsive"
                 src="<%= articleDetail._source.transformedImages[0].image.large_16x9.url %>"
                 alt="<%= articleDetail._source.title %>>"></amp-img>
    <% } %>

</div>
<article class="mt3">
    <%- articleDetail._source.content %>
</article>