.none-scrollbar > div::-webkit-scrollbar {
  display: none;
}
amp-carousel
{
  & > div:first-child {
    background-color: white;
    box-shadow: 1px 4px 4px -1px rgba(0, 0, 0, .1)
  }
  .amp-carousel-button-next, .amp-carousel-button-prev {
    top: 27px;
    border-radius: 50%;
  }

  .amp-carousel-button-prev {
    left: unset;
    right: 54px;
  }
  .no-padding-item {
    margin-left: 0;
  }
}
