@import "../carousels/carousel";

.b-left-1:before {
  top: 8px;
  left: 0;
  width: 1px;
  height: 90%;
  content: '';
  position: absolute;
  background: #e6e6e6;
}
.slider-article {
  top: -64px;
  padding: 50px 0 0 0;

  & > div:first-child {
    padding-bottom: 1rem;
  }

  .item:first-child{
    .b-left-1:before {
      width: 0;
    }
  }

}
