<div class="margin-bottom--62px">
    <h2 class="pa-heading-panel dib relative f21 b z-2 black lh-30"><%= heading %></h2>
    <amp-carousel
            class="none-scrollbar slider-article bg-white z-1"
            height="402"
            layout="fixed-height"
            type="carousel"
            controls
    >

        <% articles.forEach(article =>{ %>
            <div class="item ws-normal w-224">
                <%- include('../article-card/article.ejs', {article: article}); %>
            </div>
        <% }) %>
    </amp-carousel>
</div>
