<div>
    <amp-img width="200" height="200" layout="responsive"
             src="https://demo.hasthemes.com/greenfarm-preview/greenfarm/assets/images/big-product-image/product04.jpg"
             alt="Vegetables"></amp-img>
</div>
<div class="margin-auto width-fit-content">
    <div class="dib padding-0-10px width-115px border-1px-solid-ededed">
        <amp-img width="93" height="93" layout="responsive"
                 src="https://demo.hasthemes.com/greenfarm-preview/greenfarm/assets/images/big-product-image/product04.jpg"
                 alt="Vegetables"></amp-img>
    </div>
    <div class="dib ml3 padding-0-10px width-115px border-1px-solid-ededed">
        <amp-img width="93" height="93" layout="responsive"
                 src="https://demo.hasthemes.com/greenfarm-preview/greenfarm/assets/images/big-product-image/product05.jpg"
                 alt="Vegetables"></amp-img>
    </div>
</div>