<div>
    <div>
        <p class="f4 b mv2">Trọng lượng</p>

        <div class="flex flex-wrap-l overflow-x-auto overflow-y-hidden">
            <a href="/san-pham/kho-bo-500-g/"
               class="link outline-0"
               data-vars-click-ga-trigger="click_variant_item"
               data-vars-label="name:/san-pham/kho-bo-500-g/"
               title="500g">
                <div class="ba pa1 tc min-w4 dark-gray ma1 nowrap inactive ba b--green"><span class="dib v-base"><amp-img
                                src="https://firebasestorage.googleapis.com/v0/b/ifarmer-e25f1.appspot.com/o/assets%2Fimg%2Fkho-bo%2Fsmall%2Fkho-bo-500g.jpg?alt=media&amp;token=6008e893-c74b-4bf0-be37-c1de0495202e"
                                width="40" height="40"
                        ></amp-img></span><span
                            class="dib v-base"><span class="db">500g<!-- --> </span>  <span
                                class="ma1 green">330,000</span></span></div>
            </a><a href="/san-pham/kho-bo-500-g/"
               class="link outline-0"
               data-vars-click-ga-trigger="click_variant_item"
               data-vars-label="name:/san-pham/kho-bo-500-g/"
               title="500g">
                <div class="ba pa1 tc min-w4 dark-gray ma1 nowrap inactive ba b--green"><span class="dib v-base"><amp-img
                                src="https://firebasestorage.googleapis.com/v0/b/ifarmer-e25f1.appspot.com/o/assets%2Fimg%2Fkho-bo%2Fsmall%2Fkho-bo-500g.jpg?alt=media&amp;token=6008e893-c74b-4bf0-be37-c1de0495202e"
                                width="40" height="40"
                        ></amp-img></span><span
                            class="dib v-base"><span class="db">500g<!-- --> </span>  <span
                                class="ma1 green">330,000</span></span></div>
            </a><a href="/san-pham/kho-bo-500-g/"
               class="link outline-0"
               data-vars-click-ga-trigger="click_variant_item"
               data-vars-label="name:/san-pham/kho-bo-500-g/"
               title="500g">
                <div class="ba pa1 tc min-w4 dark-gray ma1 nowrap inactive ba b--green"><span class="dib v-base"><amp-img
                                src="https://firebasestorage.googleapis.com/v0/b/ifarmer-e25f1.appspot.com/o/assets%2Fimg%2Fkho-bo%2Fsmall%2Fkho-bo-500g.jpg?alt=media&amp;token=6008e893-c74b-4bf0-be37-c1de0495202e"
                                width="40" height="40"
                        ></amp-img></span><span
                            class="dib v-base"><span class="db">500g<!-- --> </span>  <span
                                class="ma1 green">330,000</span></span></div>
            </a>
        </div>
    </div>
    <div><p class="f4 b mv2">Loại</p>
        <div class="flex flex-wrap-l overflow-x-auto overflow-y-hidden">    <a href="/san-pham/kho-bo-500-g/"
                                                                               class="link outline-0"
                                                                               data-vars-click-ga-trigger="click_variant_item"
                                                                               data-vars-label="name:/san-pham/kho-bo-500-g/"
                                                                               title="500g">
                <div class="ba pa1 tc min-w4 dark-gray ma1 nowrap inactive ba b--green"><span class="dib v-base"><amp-img
                                src="https://firebasestorage.googleapis.com/v0/b/ifarmer-e25f1.appspot.com/o/assets%2Fimg%2Fkho-bo%2Fsmall%2Fkho-bo-500g.jpg?alt=media&amp;token=6008e893-c74b-4bf0-be37-c1de0495202e"
                                width="40" height="40"
                        ></amp-img></span><span
                            class="dib v-base"><span class="db">500g<!-- --> </span>  <span
                                class="ma1 green">330,000</span></span></div>
            </a><a href="/san-pham/kho-bo-500-g/"
                   class="link outline-0"
                   data-vars-click-ga-trigger="click_variant_item"
                   data-vars-label="name:/san-pham/kho-bo-500-g/"
                   title="500g">
                <div class="ba pa1 tc min-w4 dark-gray ma1 nowrap inactive ba b--green"><span class="dib v-base"><amp-img
                                src="https://firebasestorage.googleapis.com/v0/b/ifarmer-e25f1.appspot.com/o/assets%2Fimg%2Fkho-bo%2Fsmall%2Fkho-bo-500g.jpg?alt=media&amp;token=6008e893-c74b-4bf0-be37-c1de0495202e"
                                width="40" height="40"
                        ></amp-img></span><span
                            class="dib v-base"><span class="db">500g<!-- --> </span>  <span
                                class="ma1 green">330,000</span></span></div>
            </a><a href="/san-pham/kho-bo-500-g/"
                   class="link outline-0"
                   data-vars-click-ga-trigger="click_variant_item"
                   data-vars-label="name:/san-pham/kho-bo-500-g/"
                   title="500g">
                <div class="ba pa1 tc min-w4 dark-gray ma1 nowrap inactive ba b--green"><span class="dib v-base"><amp-img
                                src="https://firebasestorage.googleapis.com/v0/b/ifarmer-e25f1.appspot.com/o/assets%2Fimg%2Fkho-bo%2Fsmall%2Fkho-bo-500g.jpg?alt=media&amp;token=6008e893-c74b-4bf0-be37-c1de0495202e"
                                width="40" height="40"
                        ></amp-img></span><span
                            class="dib v-base"><span class="db">500g<!-- --> </span>  <span
                                class="ma1 green">330,000</span></span></div>
            </a></div>
    </div>
</div>