<div style="
    box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.1);">
    <div style="width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
color: #222;">
        <a  style="display: inline-block; line-height: 50px; margin-right: 1rem; font-weight: bold">Dang San Pham</a>
        <a  style="display: inline-block; line-height: 50px; margin-right: 1rem; font-weight: bold">Category</a>
        <a  style="display: inline-block; line-height: 50px; margin-right: 1rem; font-weight: bold">Articles</a>
        <a  style="display: inline-block; line-height: 50px; margin-right: 1rem; font-weight: bold">Su Menh</a>
        <a  style="display: inline-block; line-height: 50px; margin-right: 1rem; font-weight: bold">Contact</a>
    </div>

</div>
