<div class="">
    <div class="width-100-percent padding-right-15px padding-left-15px margin-right-auto margin-left-auto color-222">
        <a href="/trai-cay/" class="display-inline-block line-height-50px margin-right-1rem font-weight-bold">
            Trái Cây
        </a>
        <a href="/ca-bien/" class="display-inline-block line-height-50px margin-right-1rem font-weight-bold">
            Cá Biển
        </a>
        <a href="/mut-tet/" class="display-inline-block line-height-50px margin-right-1rem font-weight-bold">
            Mứt Tết
        </a>
        <a href="/cay-canh/" class="display-inline-block line-height-50px margin-right-1rem font-weight-bold">
            Hoa Cây Cảnh
        </a>
        <a href="/su-menh/" class="display-inline-block line-height-50px margin-right-1rem font-weight-bold">
            Sứ Mệnh
        </a>
        <a href="/lien-he/" class="display-inline-block line-height-50px margin-right-1rem font-weight-bold">
            Liên Hệ
        </a>
    </div>
</div>
