<div class="">
    <div class="width-100-percent padding-right-15px padding-left-15px margin-right-auto margin-left-auto color-222">
        <a  class="display-inline-block line-height-50px margin-right-1rem font-weight-bold">Dang San Pham</a>
        <a  class="display-inline-block line-height-50px margin-right-1rem font-weight-bold">Danh Mục</a>
        <a  class="display-inline-block line-height-50px margin-right-1rem font-weight-bold">Bài Viết</a>
        <a  class="display-inline-block line-height-50px margin-right-1rem font-weight-bold">Sứ Mệnh</a>
        <a  class="display-inline-block line-height-50px margin-right-1rem font-weight-bold">Liên Hệ</a>
    </div>
</div>
