<div class="">
    <div class="width-100-percent padding-right-15px padding-left-15px margin-right-auto margin-left-auto color-222">
        <a  class="display-inline-block line-height-50px margin-right-1rem font-weight-bold">Dang San Pham</a>
        <a  class="display-inline-block line-height-50px margin-right-1rem font-weight-bold">Category</a>
        <a  class="display-inline-block line-height-50px margin-right-1rem font-weight-bold">Articles</a>
        <a  class="display-inline-block line-height-50px margin-right-1rem font-weight-bold">Su Menh</a>
        <a  class="display-inline-block line-height-50px margin-right-1rem font-weight-bold">Contact</a>
    </div>
</div>
