<a class="db" href="tel:091-832-7819">
    <amp-img src="/assets/images/svg/ios-call.svg" class="dib" width="40" height="35"></amp-img>
    <div class="dib tl lh-14 ml3">
        <div>Gọi: </div>
        <span class="pt2">091-832-7819</span>
    </div>
</a>
