<div class="relative bg-white h50 b-mercury pr55 position-relative background-color-ffffff height-50px border-1px-solid-e4e4e4 padding-right-55px border-radius-50px">

    <form action="/tim-kiem/" target="_top">
        <input tabindex="0" class="border-none width-95-percent line-height-20px margin-top-15px margin-left-24px outline-none color-222222 font-size-20px"
               type="text" placeholder="Tìm Sản Phẩm" name="q" >
        <button class="position-absolute right-5px top-5px background-none border-none background-color-80bb01 color-ffffff width-40px height-40px border-radius-50-percent">
            <amp-img src="/assets/sprites.svg#ios-search" width="20" height="20"></amp-img>
        </button>
    </form>
</div>
