<amp-sidebar id="sidebar-left"
             layout="nodisplay"
             side="left">
        <amp-img width="50" height="50" class="ma2 absolute right-0"
                 src="/assets/images/svg/ios-close.svg"
           on="tap:sidebar-left.close"
           role="button"
           tabIndex="0"></amp-img>
        <nav toolbar="(min-width: 960px)"
             toolbar-target="target-element-right"
        >
                <ul class="top-menu w5 ma3 pa0 f3 width-fit-content-l">
                        <li class="db dib-l pa3 pa2-l">
                                <a href="/in-develop/" class="link new-product" rel="nofollow"
                                   data-vars-click-ga-trigger="click_sidebar_item"
                                   data-vars-label="name:dang-san-pham" title="Đăng sản phẩm của nhà bạn"> Đăng Sản Phẩm </a>
                        </li>
                        <li class="db dib-l pa3 pa2-l">
                                <a href="/trai-cay/" class="link" rel="nofollow"
                                   data-vars-click-ga-trigger="click_sidebar_item"
                                   data-vars-label="name:trai-cay" title="Trái Cây">Trái Cây</a>
                        </li>
                        <li class="db dib-l pa3 pa2-l">
                                <a href="/ca-bien/" class="link" rel="nofollow"
                                   data-vars-click-ga-trigger="click_sidebar_item"
                                   data-vars-label="name:ca-bien" title="Cá Biển">Cá Biển</a>
                        </li>    <li class="db dib-l pa3 pa2-l">
                                <a href="/mut-tet/" class="link" rel="nofollow"
                                   data-vars-click-ga-trigger="click_sidebar_item"
                                   data-vars-label="name:mut-tet" title="Mứt Tết">Mứt Tết</a>
                        </li>
                        <li class="db dib-l pa3 pa2-l">
                                <a href="/cay-canh/" class="link" rel="nofollow"
                                   data-vars-click-ga-trigger="click_sidebar_item"
                                   data-vars-label="name:cay-canh" title="Cây Cảnh">Cây Cảnh</a>
                        </li>

                        <li class="db dib-l pa3 pa2-l">
                                <a href="/su-menh/" class="link" rel="nofollow"
                                   data-vars-click-ga-trigger="click_sidebar_item"
                                   data-vars-label="name:su-menh" title="Sứ Mệnh">Sứ Mệnh</a>
                        </li>
                        <li class="db dib-l pa3 pa2-l">
                                <a href="/lien-he/" class="link" rel="nofollow"
                                   data-vars-click-ga-trigger="click_sidebar_item"
                                   data-vars-label="name:lien-he" title="Liên Hệ">Liên Hệ</a>
                        </li>
                </ul>
        </nav>
</amp-sidebar>
