<%- include("../../../components/layouts/head") -%>

<body>
<h1 class="f2 f1-l"><%= heading %></h1>
<div class="pa5">
    <%-     include("./components/categories-sidebar/view.ejs") -%>
</div>

</body>

<%- include("../../../components/layouts/footer") -%>
