<%- include("../../../components/master/head") -%>

<h1 class="f2 f1-l"><%= title %></h1>

<div class="pa3">
    <%-     include("../../../components/articles-list/view.ejs", {articles: articles}) -%>
</div>

<%- include("../../../components/master/footer") -%>
