<a href="shop-left-sidebar.html" class="db pa2 w-224"
>
    <div class="pa2 relative b-left-1">
        <div class="f13 dusty-ray" tabindex="0">12/3/2019 Nguồn Ông Tư Tóc Bạc
        </div>
        <h3 class="pv2 f16">
            Dầu gấc rất tốt cho trẻ em
        </h3>
    </div>
    <amp-img width="212" height="212" layout="responsive"
             src="https://firebasestorage.googleapis.com/v0/b/ifarmer-e25f1.appspot.com/o/assets%2Fimg%2Fdau-gac%2Flarge%2Fdepda.jpg?alt=media&token=4d04ba5e-8584-492c-b910-6b4e8fe776c3"
             alt="Vegetables"></amp-img>
</a>
