<section>
    <h2 class="pa-heading-panel dib relative b z-2 f30 black lh-30"> Explore Whats Trending </h2>
    <amp-carousel
            class="none-scrollbar slider-article bg-white z-1"
            height="360"
            layout="fixed-height"
            type="carousel"
            controls
    >

        <% topArticles.forEach(article =>{ %>
            <div class="item ws-normal w-224">
                <%- include('../../../../../components/article-card/article.ejs', {article: article}); %>
            </div>
        <% }) %>
    </amp-carousel>
</section>
