<div class="flex flex-wrap bg-white">
    <% articles.forEach(article =>{ %>
        <div class="w-50 w-33-m w-25-l">
            <%- include("../article-card/article.ejs", {article: article}) -%>
        </div>
    <% }) %>
</div>
