<div>
    <amp-img width="16" height="9" layout="responsive"
             src="https://firebasestorage.googleapis.com/v0/b/ifarmer-e25f1.appspot.com/o/assets%2Fimg%2Fdau-gac%2Flarge%2Fbau.jpg?alt=media&amp;token=3baad933-e38e-444b-aa1d-527b19dce26d"
             alt="Công dụng của dầu gấc đối với mẹ bầu"></amp-img>
</div>
<article class="mt3"><p>L&agrave; phụ nữ th&igrave; ai cũng th&iacute;ch đẹp, nhưng khi mang thai, em b&eacute; ng&agrave;y
        c&agrave;ng lớn th&igrave; cũng l&agrave; l&uacute;c những vết rạn da ở bụng, đ&ugrave;i, thậm ch&iacute; tr&ecirc;n
        bầu ngực chen ch&uacute;c nhau mọc ra, phải l&agrave;m sao b&acirc;y giờ? Đừng lo dầu gấc sẽ gi&uacute;p bạn</p>
    <h3 class="f3 dark-green">Dầu gấc chống rạn da, l&agrave;m đẹp</h3>
    <p>Ngo&agrave;i t&aacute;c dụng tốt cho sức khỏe, th&agrave;nh phần vitamin A v&agrave; vitamin E c&oacute; trong
        dầu gấc c&ograve;n gi&uacute;p mẹ bầu giữ ẩm l&agrave;m da, gi&uacute;p cho l&agrave;n da mềm mại, ngăn ngừa hạn
        chế nguy cơ xuất hiện c&aacute;c vết rạn da, bằng c&aacute;ch thoa dầu gấc l&ecirc;n bụng, đ&ugrave;i, bầu ngực,
        sau đ&oacute; massage nhẹ nh&agrave;ng tr&aacute;nh l&agrave;m ảnh hưởng đến b&eacute; cưng trong bụng.</p>
    <p>B&ecirc;n cạnh đ&oacute;, Lycopen thực vật trong dầu gấc c&oacute; t&aacute;c dụng chống l&atilde;o h&oacute;a
        cho da, ph&ograve;ng chữa sạm da, ngăn ngừa trứng c&aacute;, kh&ocirc; da, nổi sẩn, rụng t&oacute;c,
        &hellip;</p>
    <p>Hơn thế nữa bạn cũng c&oacute; thể d&ugrave;ng dầu gấc thay cho mỹ phẩm để thoa v&agrave; massage ngo&agrave;i
        da, đ&acirc;y l&agrave; c&aacute;ch l&agrave;m đẹp ho&agrave;n to&agrave;n tự nhi&ecirc;n.</p>
    <h3 class="f3 dark-green">Hỗ trợ đẩy l&ugrave;i những căn bệnh khi mang thai</h3>
    <p>
        <amp-img src="assets/img/article/large/babau.jpg" width="16" height="9" layout="responsive"></amp-img>
    </p>
    <p>C&ocirc;ng dụng của dầu gấc đối với mẹ bầu kh&ocirc;ng chỉ l&agrave; dưỡng da . Sau khi đi v&agrave;o cơ thể
        vitamin E trong dầu gấc được hấp thụ v&agrave;o m&aacute;u v&agrave; truyền sang thai nhi.</p>
    <p>Vitamin E c&oacute; t&aacute;c dụng trung h&ograve;a, l&agrave;m mất đi hiệu lực của gốc tự do c&oacute; trong cơ
        thể g&oacute;p phần thuận lợi cho sự ph&aacute;t triển to&agrave;n diện của thai nhi v&agrave; giảm tỷ lệ sẩy
        thai hoặc sinh non trong suốt qu&aacute; tr&igrave;nh mang thai của mẹ.</p>
    <p>Kh&ocirc;ng những thế, th&agrave;nh phần trong tinh dầu gấc c&ograve;n c&oacute; thể v&ocirc; hiệu h&oacute;a đến
        75% c&aacute;c chất g&acirc;y ra căn bệnh ung thư, đặc biệt hơn cả l&agrave; ung thư v&uacute;, ung thư tuyến
        tiền liệt nhờ lượng vitamin E, carotene v&agrave; Lycopen,&hellip;</p>
    <p>Ngo&agrave;i ra với h&agrave;m lượng vi chất c&oacute; trong dầu gấc cũng gi&uacute;p tăng cường v&agrave; bảo vệ
        hệ ti&ecirc;u h&oacute;a, tim mạch rất tốt.</p>
    <h3 class="f3 dark-green">Th&uacute;c đẩy sự to&agrave;n diện của thai nhi</h3>
    <p>
        <amp-img src="../assets/img/dau-gac/large/dau-gac-thai-nhi.jpg" width="16" height="9"
                 layout="responsive"></amp-img>
    </p>
    <p>Dầu gấc nguy&ecirc;n chất ngo&agrave;i t&aacute;c dụng tăng cường sức khỏe cho mẹ, n&oacute; c&ograve;n g&oacute;p
        phần th&uacute;c đẩy sự ph&aacute;t triển to&agrave;n diện của thai nhi cũng như sau khi sinh, nhờ v&agrave;o
        việc bổ sung đầy đủ Vitamin A, E, c&aacute;c chất Omega 3, Omega 6, Omega 9&hellip;</p>
    <p>Trong tinh dầu gấc c&oacute; chứa nguồn chất b&eacute;o chủ yếu l&agrave; axit oleic, hay c&ograve;n gọi l&agrave;
        Omega 9 (44%), axit linoleic hay c&ograve;n gọi l&agrave; omega 6 (15%) đ&acirc;y l&agrave; những chất g&oacute;p
        phần quan trọng gi&uacute;p cấu tạo v&otilde;ng mạc mắt, n&atilde;o v&agrave; myelin trong sợi thần kinh của
        thai nhi v&agrave; trẻ nhỏ.</p>
    <p>Tinh dầu gấc c&oacute; chứa nhiều lycopen, vitamin E để bảo vệ thai nhi trước sự tấn c&ocirc;ng của c&aacute;c
        chất độc hại trong thực phẩm do người mẹ v&ocirc; t&igrave;nh ăn v&agrave;o như dioxin, thuốc trừ s&acirc;u,
        thuốc tăng trọng&hellip;</p>
    <p>C&aacute;c nguy&ecirc;n tố vi lượng trong dầu gấc như kẽm, sắt, cobon, selen gi&uacute;p trẻ sản sinh hồng cầu,
        ngăn ngừa nhiễm virus tăng sức đề kh&aacute;ng, v&agrave; ph&aacute;t triển cơ quan sinh sản ho&agrave;n
        thiện.</p></article>