<div>
    <div class="pa2 flex flex-column flex-row-l">
        <div class="w-70-l"><a class="overflow-hidden mt3 db link"
                               href="/bai-viet/cong-dung-cua-dau-gac-doi-voi-me-bau/"
                               data-vars-click-ga-trigger="click_articles_item"
                               data-vars-label="name:articlesundefined">
                <div class="absolute  w4 h4 w-12-ns h-12-ns">
                    <amp-img class="br-100" width="8rem" height="8rem" layout="responsive"
                             src="https://firebasestorage.googleapis.com/v0/b/ifarmer-e25f1.appspot.com/o/assets%2Fimg%2Fdau-gac%2Fsmall%2Fbau.jpg?alt=media&amp;token=3baad933-e38e-444b-aa1d-527b19dce26d"></amp-img>
                </div>
                <div class="min-h4 min-h-auto-ns ml6 ml-12-ns pa2">
                    <div class="f4 overflow-hidden blue">Công dụng của dầu gấc đối với mẹ bầu</div>
                    <div class="f7 gray mt1">12/3/2019<!-- --> Nguồn <!-- -->Ông Tư Tóc Bạc</div>
                </div>
                <div class="box-3 h4 ml-12-ns pa2 lh-title overflow-hidden f6">Là phụ nữ thì ai cũng thích đẹp, nhưng
                    khi mang thai, em bé ngày càng lớn thì cũng là lúc những vết rạn da ở bụng, đùi, thậm chí trên bầu
                    ngực chen chúc nhau mọc ra, phải làm sao bây giờ? Đừng lo dầu gấc sẽ giúp bạn
                </div>
            </a><a class="overflow-hidden mt3 db link"
                   href="/bai-viet/cong-dung-cua-dau-gac-doi-voi-suc-khoe-va-sac-dep/"
                   data-vars-click-ga-trigger="click_articles_item" data-vars-label="name:articlesundefined">
                <div class="absolute  w4 h4 w-12-ns h-12-ns">
                    <amp-img class="br-100" width="8rem" height="8rem" layout="responsive"
                             src="https://firebasestorage.googleapis.com/v0/b/ifarmer-e25f1.appspot.com/o/assets%2Fimg%2Fdau-gac%2Fsmall%2Fgac256.jpg?alt=media&amp;token=7dd1d5b6-33c6-43f4-bc8d-53f6989ecba1"></amp-img>
                </div>
                <div class="min-h4 min-h-auto-ns ml6 ml-12-ns pa2">
                    <div class="f4 overflow-hidden blue">Công dụng của dầu gấc đối với sức khỏe</div>
                    <div class="f7 gray mt1">12/3/2019<!-- --> Nguồn <!-- -->Ông Tư Tóc Bạc</div>
                </div>
                <div class="box-3 h4 ml-12-ns pa2 lh-title overflow-hidden f6">Dầu gấc được chiết ra từ quả gấc, một
                    loại thực phẩm rất tốt cho sức khỏe. Ngoài ra nó còn có công dụng đối với viêc chăm sóc sắc đẹp của
                    chị em phụ nữ đặc biệt là tốt cho bà bầu. Hãy cùng nhau khám phá công dụng của dầu gấc nào
                </div>
            </a><a class="overflow-hidden mt3 db link" href="/bai-viet/dau-gac-giup-ngan-ngua-ung-thu/"
                   data-vars-click-ga-trigger="click_articles_item" data-vars-label="name:articlesundefined">
                <div class="absolute  w4 h4 w-12-ns h-12-ns">
                    <amp-img class="br-100" width="8rem" height="8rem" layout="responsive"
                             src="https://firebasestorage.googleapis.com/v0/b/ifarmer-e25f1.appspot.com/o/assets%2Fimg%2Fdau-gac%2Fsmall%2Fung.jpg?alt=media&amp;token=13180f00-81ca-4bd9-95bb-bba1c0244c19"></amp-img>
                </div>
                <div class="min-h4 min-h-auto-ns ml6 ml-12-ns pa2">
                    <div class="f4 overflow-hidden blue">Dầu gấc giúp ngăn ngừa ung thư</div>
                    <div class="f7 gray mt1">12/3/2019<!-- --> Nguồn <!-- -->Ông Tư Tóc Bạc</div>
                </div>
                <div class="box-3 h4 ml-12-ns pa2 lh-title overflow-hidden f6">Dầu gấc ngăn ngừa ung thư do trong dầu
                    gấc chứa rất nhiều lượng lycopen có khả năng tiêu diệt các tế bào ung thư hơn hẳn cà chua.
                </div>
            </a></div>
        <div class="w-30-l pa2 f5">
            <div class="b">Đọc thêm</div>
            <a class="db link" href="/bai-viet/dau-gac-rat-tot-cho-tre-em/"
               data-vars-click-ga-trigger="click_more_articles_item"
               data-vars-label="name:articlesDầu gấc rất tốt cho trẻ em">
                <div class="pv3 overflow-hidden blue">Dầu gấc rất tốt cho trẻ em</div>
            </a><a class="db link" href="/bai-viet/tac-dung-cua-dau-gac-doi-voi-lan-da/"
                   data-vars-click-ga-trigger="click_more_articles_item"
                   data-vars-label="name:articlesTác dụng dầu gấc đối với làn da">
                <hr class="mv1 bg-light-blue"/>
                <div class="pv3 overflow-hidden blue">Tác dụng dầu gấc đối với làn da</div>
            </a><a class="db link" href="/bai-viet/tac-dung-cua-dau-gac-doi-voi-sac-dep/"
                   data-vars-click-ga-trigger="click_more_articles_item"
                   data-vars-label="name:articlesCông dụng của dầu gấc đối với sắc đẹp">
                <hr class="mv1 bg-light-blue"/>
                <div class="pv3 overflow-hidden blue">Công dụng của dầu gấc đối với sắc đẹp</div>
            </a><a class="db link" href="/bai-viet/tac-dung-cua-dau-gac-voi-mat/"
                   data-vars-click-ga-trigger="click_more_articles_item"
                   data-vars-label="name:articlesTác dụng dầu gấc đối với mắt">
                <hr class="mv1 bg-light-blue"/>
                <div class="pv3 overflow-hidden blue">Tác dụng dầu gấc đối với mắt</div>
            </a></div>
    </div>
</div>
