.w-131 {
    width: 131px;
}

.w-212 {
    width: 212px;
}

.w-224 {
    width: 224px;
}

.min-w-44 {
    min-width: 44px;
}
@media screen and (min-width: 60em) {
    .width-fit-content-l {width: fit-content}
}