<div class="flex flex-wrap bg-white">
    <% products.forEach(product =>{ %>
        <div class="w-50 w-33-m w-25-l">
            <%- include("../product-card/product.ejs", {product: product}) -%>
        </div>
    <% }) %>
</div>
