<div>
    <amp-img width="200" height="200" layout="responsive"
             src="<%= productDetail.transformedImages[0].image.small_1x1.url %>"
             alt="<%= productDetail.h1 %>">
        <amp-img width="200" height="200" layout="responsive" fallback
                 src="<%= productDetail.images[0].url %>"></amp-img>
    </amp-img>
</div>
