<div data-vars-click-ga-trigger="click_view_image"
     data-vars-label="name:<%= productDetail.url %>"
>
    <amp-carousel lightbox="view-images" width="200" height="200" layout="responsive" type="slides">
        <% productDetail.transformedImages.forEach((transformedImage, index) =>{ %>
            <amp-img width="200" height="200" layout="responsive"
                     src="<%= transformedImage.image.large_1x1.url %>"
                     alt="<%= productDetail.h1 %>">
                <amp-img width="200" height="200" layout="responsive" fallback
                         src="<%= productDetail.images[index].url %>"></amp-img>
            </amp-img>
        <% }) %>
    </amp-carousel>

</div>
