<div data-cl="hero-side-category" class="w-100 cursor bg-white">
    <h2 class="header-wrap relative b ttu pa-heading-panel b-top-right-radius-5 bg-theme-color white f15 lh-30"> All
        Categories </h2>
    <nav class="bg-white box-shadow-1">
        <ul class="none-border-bottom-list">
            <!-- Todo why the tool can not scan class="pointerhover"-->
            <li><a class="relative db lh-30 pa-1-2_4 f14 b-bottom-1 scorpion hover pointer">Vegetables</a></li>
            <li><a class="relative db lh-30 pa-1-2_4 f14 b-bottom-1 scorpion hover pointer">Beans</a></li>
            <li><a class="relative db lh-30 pa-1-2_4 f14 b-bottom-1 scorpion hover pointer">Bread</a></li>
            <li><a class="relative db lh-30 pa-1-2_4 f14 b-bottom-1 scorpion hover pointer">Fish &amp; Meats</a></li>
            <li><a class="relative db lh-30 pa-1-2_4 f14 b-bottom-1 scorpion hover pointer">Peanuts</a></li>
            <li><a class="relative db lh-30 pa-1-2_4 f14 b-bottom-1 scorpion hover pointer">Birds</a></li>
        </ul>
    </nav>


</div>
