/////////////////////
// variables
/////////////////////

/////////////////////
// Colours
/////////////////////
$alto: #ddd;
$alto1: #e0e0e0;
$amber: #FBBF00;
$atoll: #0b577b;
$black: #000;
$boulder: #777;
$deep-sea: #008459;
$deep-cerulean: #007BB6;
$dodger-blue: #1DA1F2;
$dove-gray: #656565;
$dove-gray1: #666666;
$dusty-ray: #999;
$emperor: #505050;
$gallery: #eee;
$medium-red-violet: #B23A94;
$mercury: #e4e4e4;
$mercury1: #e9e9e9;
$mine-shaft: #222;
$mine-shaft1: #242424;
$mine-shaft2: #323232;
$mine-shaft3: #333;
$mine-shaft4: #353535;
$dove-gray: #666;
$dusty-gray: #999;
$gray: #808080;
$gray1: #888888;
$gray2: #8c8c8c;
$gallery: #eaeaea;
$limeade: #5d8801;
$limeade1: #80bb01;
$picton-blue: #4e98e6;
$plum: #882e71;
$porcelain: #f6f7f8;
$prairie-sand: #a43d21;
$red: #ff0000;
$san-juan: #30436b;
$san-marino: #4867AA;
$scorpion: #606060;
$sea-buckthorn: #F99C3A;
$silver: #c7c7c7;
$silver-chalice: #a4a4a4;
$tundora: #444;
$will-sand: #f5f5f5;
$white: #fff;
$yellow-sea: #ffaf00;
$zest: #e88720;

$white-a: rgba(255, 255, 255, 0.95);
$black-a: rgba(0, 0, 0, 0.03);
$black-a1: rgba(0, 0, 0, 0.04);
$black-a2: rgba(0, 0, 0, 0.05);

$hover: #80bb01;

// Theme Color
$theme-color: #80bb01;
$hover-color: #80bb01;
$dark-hover-color: #5d8801;

// Border color
$border-color: #e8e8e8;

//Box shadow color
$box-shadow-color: rgba(0, 0, 0, 0.1);


@mixin theme-color {
  .theme-color {
    color: $theme-color;
  }
}

@mixin bg-theme-color {
  .bg-theme-color {
    background: $theme-color;
  }
}

@mixin b--theme-color {
  .b--theme-color {
    border-color: $theme-color;
  }
}

@mixin scorpion {
  .scorpion {
    color: $scorpion;
  }
}

@mixin bg-scorpion {
  .bg-scorpion {
    background: $scorpion;
  }
}

@mixin b--scorpion {
  .b--scorpion {
    border-color: $scorpion;
  }
}

@mixin white {
  .white {
    color: $white;
  }
}

@mixin bg-white {
  .bg-white {
    background: $white;
  }
}

@mixin b--white {
  .b--white {
    border-color: $white;
  }
}

