<form>
    <div class="flex flex-item mt3">
        <label class="w4 pa3 height-50px flex-grow-0">Ten:</label>
        <input required tabindex="0" class="flex-grow-1 pa3 height-50px border-1px-solid-e4e4e4 border-radius-50px line-height-20px outline-none color-222222 font-size-20px"
               type="text" placeholder="Ten" name="name" >
    </div>
    <div class="flex flex-item mt3">
        <label class="w4 pa3 height-50px flex-grow-0">Dia Chi:</label>
        <input required tabindex="0" class="flex-grow-1 pa3 height-50px border-1px-solid-e4e4e4 border-radius-50px line-height-20px outline-none color-222222 font-size-20px"
               type="text" placeholder="Dia Chi" name="name" >
    </div>
    <div class="flex flex-item mt3">
        <label class="w4 pa3 height-50px flex-grow-0">So Dien thoai:</label>
        <input required tabindex="0" class="flex-grow-1 pa3 height-50px border-1px-solid-e4e4e4 border-radius-50px line-height-20px outline-none color-222222 font-size-20px"
               type="text" placeholder="So Dien thoai" name="name" >
    </div>
    <div class="flex flex-item mt3">
        <label class="w4 pa3 height-50px flex-grow-0">Email:</label>
        <input required tabindex="0" class="flex-grow-1 pa3 height-50px border-1px-solid-e4e4e4 border-radius-50px line-height-20px outline-none color-222222 font-size-20px"
               type="text" placeholder="Email" name="name" >
    </div>
    <div class="flex flex-item mt3">
        <label class="w4 pa3 height-50px flex-grow-0">Gia San Pham:</label>
        <input required tabindex="0" class="flex-grow-1 pa3 height-50px border-1px-solid-e4e4e4 border-radius-50px line-height-20px outline-none color-222222 font-size-20px"
               type="text" placeholder="Gia San Pham" name="name" >
    </div>
    <div class="flex flex-item mt3">
        <label class="w4 pa3 height-50px flex-grow-0">So luong cung cap:</label>
        <input required tabindex="0" class="flex-grow-1 pa3 height-50px border-1px-solid-e4e4e4 border-radius-50px line-height-20px outline-none color-222222 font-size-20px"
               type="text" placeholder="So luong cung cap" name="name" >
    </div>

    <div class="flex flex-item mt3">
        <label class="w4 pa3 height-50px flex-grow-0">Mo Ta:</label>
        <input required tabindex="0" class="flex-grow-1 pa3 height-50px border-1px-solid-e4e4e4 border-radius-50px line-height-20px outline-none color-222222 font-size-20px"
               type="text" placeholder="Mo Ta" name="name" >
    </div>

    <div class="flex flex-item mt3">
        <label class="w4 pa3 height-50px flex-grow-0">Ghi chu:</label>
        <input required tabindex="0" class="flex-grow-1 pa3 height-50px border-1px-solid-e4e4e4 border-radius-50px line-height-20px outline-none color-222222 font-size-20px"
               type="text" placeholder="Ghi chu" name="name" >
    </div>

    <div class="flex flex-item mt3">
        <label class="w4 pa3 height-50px flex-grow-0">Hinh anh:</label>
        <input required tabindex="0" class="flex-grow-1 pa3 height-50px  line-height-20px outline-none color-222222 font-size-20px"
               type="file" name="name" >
    </div>

    <div class="mt3">
        <button class="display-block color-f2f2f2 text-align-center padding-14px-16px text-decoration-none font-size-17px border-radius-4px background-color-74ab74"  class="w-50">Dang san pham</button>
    </div>
</form>

