<a href="shop-left-sidebar.html" class="db relative b-bottom-2 b-right-2 pa-item"
>
    <span
            class="top-40 z-1 ttu right-auto absolute bg-sale pa-sale white f10 fw-500 h-24 left-20 lh-24 min-h-auto min-w-44">Sale!</span>
    <div class="dib" title="Vegetables">
        <amp-img width="212" height="212" layout="responsive"
                 src="https://demo.hasthemes.com/greenfarm-preview/greenfarm/assets/images/products/product02.jpg"
                 alt="Vegetables"></amp-img>
        <div>
            <div class="f13 dusty-ray" tabindex="0">Vegetables
            </div>
            <h3>
                Sed tempor ehicula non
                commodo
            </h3>
            <div>
                <span class="dusty-ray f17 strike mr2">$89.00</span>
                <span class="limeade1 f21">$80.00</span>
            </div>
        </div>
    </div>
</a>